@import "tailwindcss";

@layer base {
  html {
    font-family: "Montserrat", "ui-sans-serif", "system-ui", "sans-serif";
  }
}

/* SPLASH */
@keyframes blink {
  50% {
    opacity: 0.4;
  }
}

.blink {
  animation: blink 1.3s infinite;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}

/* MAIN FORM */
form input {
  background: #fafafa;
  margin: 1rem 0;
  padding: 0.25rem 0;
}

form textarea {
  background: #fafafa;
}
