@import "tailwindcss";

@layer base {
  html {
    font-family: "Montserrat", "ui-sans-serif", "system-ui", "sans-serif";
  }
}

/* SPLASH */
@keyframes blink {
  50% {
    opacity: 0.4;
  }
}

.blink {
  animation: blink 1.3s infinite;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out;
}

/* MAIN FORM */

.input-style {
  @apply px-4 py-2 my-2 bg-white border rounded-md text-sm focus:outline-none focus:ring-2 focus:ring-blue-500;
}
